{{!
  @template core_courseformat/local/courseindex/drawer

  This template renders the course index drawer.
  Adaptado para theme_fng.
  
  Example context (json):
  {}
}}
<nav id="courseindex" class="courseindex">
  <div class="p-mb-4">
      <span class="course-heading h-bold-4" title="{{#str}}sidebarcoursemenuheading, theme_fng{{/str}}">
          {{#str}}sidebarcoursemenuheading, theme_fng{{/str}}
      </span>
  </div>
  <div id="courseindex-content">
      {{> core_courseformat/local/courseindex/placeholders}}
  </div>
</nav>
{{#js}}
require(['core_courseformat/local/courseindex/drawer'], function(component) {
  component.init('courseindex');
});
{{/js}}