{{!
    @template theme_fng/navbar_gov
    
    Template para el navbar de Gobierno.
}}
<nav class="gov-navbar-container">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
        <div class="MuiBox-root jss26 jss23">
            <div class="MuiContainer-root MuiContainer-maxWidthLg" direction="row">
                <div class="MuiGrid-root MuiGrid-container">
                    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                        <div class="MuiBox-root jss27 logo">
                            <a class="jss22" target="_blank" href="https://www.gov.co/">
                                <img alt="logo" src="{{config.wwwroot}}/theme/fng/pix/logo-govco.png" class="gov-logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
        <div class="MuiBox-root jss29 jss28 topbarSecondary" direction="column">
            <div class="MuiContainer-root MuiContainer-maxWidthLg" direction="row">
                <div class="MuiGrid-root jss30 MuiGrid-container">
                    <div class="MuiGrid-root jss31 MuiGrid-item">
                        <div class="MuiBox-root jss37">
                            <a class="MuiButtonBase-root MuiButton-root MuiButton-text jss33" tabindex="0" aria-disabled="false" href="/transparencia">
                                <span class="MuiButton-label">Transparencia
                                    <span class="MuiButton-endIcon MuiButton-iconSizeMedium">
                                        <span class="material-icons" aria-hidden="true">find_in_page</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="MuiGrid-root jss31 MuiGrid-item">
                        <div class="MuiBox-root jss38">
                            <a class="MuiButtonBase-root MuiButton-root MuiButton-text jss33" tabindex="0" aria-disabled="false" href="/participa">
                                <span class="MuiButton-label">Participa
                                    <span class="MuiButton-endIcon MuiButton-iconSizeMedium">
                                        <span class="material-icons" aria-hidden="true">handshake</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="MuiGrid-root jss31 MuiGrid-item">
                        <div class="MuiBox-root jss39">
                            <a class="MuiButtonBase-root MuiButton-root MuiButton-text jss33" tabindex="0" aria-disabled="false" href="/atencion-y-servicios">
                                <span class="MuiButton-label">Atención y servicios a la ciudadanía
                                    <span class="MuiButton-endIcon MuiButton-iconSizeMedium">
                                        <span class="material-icons" aria-hidden="true">contact_support</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>